master/.vs/**
master/.vs/*
master/Exports/*.stl
master/Exports/*.ply
master/*.stl
master/*.ply
master/__pycache__/**
master/__pycache__/*
master/Python310/Lib/__pycache__/*
master/Python310/Lib/__pycache__/**
master/**/__pycache__/*
master/**/__pycache__/**
master/x64/Debug/*
master/!x64/Debug/*.exe
master/!x64/Debug/*.dll
master/Assets/Mesh/*.stl
master/Assets/Mesh/*.STL
master/*.hex